.Navegation {
    display: flex;
    justify-content: space-around;
    background-color: #ffff;
    border-bottom: 0.5PX solid gray;
}

.Navegation h1 {
    font-family:'Comforter', cursive ;
    font-weight: bolder;
    margin-top: 0.5em;
}

.Navegation ul {
    display: flex;
    align-items: center;
    margin: 0;
}

.Link {
    font-family: 'Fuzzy Bubbles', cursive;
    list-style-type: none;
    margin: 0.8em 0em;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(61, 61, 61);
    padding: 0.5em;
}
.Link:hover {
    color: black;
    border-bottom: 0.5px groove gray;
    border-bottom-style: dashed;
}

.Navegation img {
    max-width: 40px ;
    max-height: 40px;
    margin: 0 0 0 2em;
}